<!DOCTYPE html>
<html>
  <head>
    <title>Template Clone</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      .container {
        margin: 0 auto;
        max-width: 700px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Twitter Clone</a>
          </div>
        </div>
      </div>
      {{{ body }}}
    </div>
  </body>
</html>
